.col{
    text-align: center;
    padding: 100px;
    color: #000000;
    font-size: 50px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 10px rgb(40, 10, 68),
    0 0 1px rgb(40, 10, 68),
    0 0 2px rgb(40, 10, 68),
    0 0 3px rgb(40, 10, 68),
    0 0 4px rgb(40, 10, 68),
    0 0 5px rgb(40, 10, 68),
    0 0 6px rgb(40, 10, 68),
    0 0 7px rgb(40, 10, 68);
    transition: all 1s;
  
}
.col:hover{
    text-shadow: 0 0 10px blueviolet,
    0 0 20px blueviolet,
    0 0 40px blueviolet,
    0 0 60px blueviolet,
    0 0 80px blueviolet,
    0 0 100px blueviolet,
    0 0 120px blueviolet,
    0 0 140px blueviolet;
    
}
body{
    background-color: black;
}


.left{
    background-color: brown;
    width: 200px;
    height: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}